* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

li {
    list-style: none;
}

@font-face {
    font-family: 'NunitoSans';
    src: url("../assests/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
}

@font-face {
    font-family: "Americana Font";
    src: url("../assests/Americana Font Regular/Americana Font Regular.otf");
}

/* height width root */
:root {
    --pagewidth-max-width: 1600px;
    --max-width: 100%;
    --max-height: 100%;
}

/* color root */
:root {
    --brand-line-color: #26A3DB;
    --brand-line-second-color: #E9F6FB;
    --white-color: #FFFFFF;
    --black-color: black;
    --heading-color: #000309;
    --compare-color: #8A9099;
    --border-color: #D2D5D9;
}

/* font style root */
:root {
    --paragraph-font: "NunitoSans", sans-serif;
    --heading-font-size: 36px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
    --heading-font: "Americana Font";
}

/* padding root */
:root {
    --line-height: 26px;
    --btn-padding: 13px 36px;
    --btn-font-weight: 500;
    --font-style: bold;
    --border-raduis: 5px;
    --padding: 0px 130px;
    --gap-of-text: 20px;
    --gap-of-icons: 10px;
}

/* overall css */
.page-width {
    max-width: var(--pagewidth-max-width);
    margin: auto;
    padding: var(--padding)
}

.grid-cls {
    display: grid;
}

.flex {
    display: flex;
}

.gap {
    gap: var(--gap-of-icons);
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.paragraph-font {
    font-family: var(--paragraph-font);
}

.list-style {
    list-style: none;
}

.heading-size {
    font-size: var(--heading-font-size);
}

.para-size {
    font-size: var(--normal-font-size);
}

.small-size {
    font-size: var(--small-font-size);
}

.body-font {
    font-family: var(--paragraph-font);
}

.heading-font {
    font-family: var(--heading-font);
    font-weight: 100;
}

.text-color {
    color: var(--heading-color);
}

.bold-text {
    color: var(--brand-line-color);
    font-weight: bold;
}

/* buttons */
.primary-btn {
    color: var(--white-color);
    background: var(--brand-line-color);
    padding: var(--btn-padding);
    font-family: var(--paragraph-font);
    border-radius: 5px;
    line-height: 100%;
}

.secondary-btn {
    padding: var(--btn-padding);
    border: 1px solid var(--white-color);
    border-radius: 5px;
    font-family: var(--paragraph-font);
}

.underline-btn {
    border-bottom: 1px solid var(--black-color);
    color: var(--heading-color);
    font-family: var(--paragraph-font);

}

/* grid-css */
.grid-6-col-desktop .grid-item {
    width: calc(16.66% - 0px);
    max-width: calc(16.66% - 0px);
}

.grid-5-col-desktop .grid-item {
    width: calc(20% - 16px);
    max-width: calc(20% - 16px);
}

.grid-4-col-desktop .grid-item {
    width: calc(25% - 0px);
    max-width: calc(25% - 0px);
}

.grid-3-col-desktop .grid-item {
    width: calc(33.3% - 0px);
    max-width: calc(33.3% - 0px);
}

.grid-2-col-desktop .grid-item {
    width: calc(50% - 20px);
    max-width: calc(50% - 20px);
}


/* ---------------------------------------------announcement-bar css ----------------------------------------------*/
.announcement-bar {
    background-color: var(--brand-line-color);
    color: var(--white-color);
    padding: 10px 0px;
}

/*--------------------------------------------------- header -----------------------------------------------------*/
.header-wrapper {
    position: absolute;
    z-index: 13;
    width: 100%;
    padding: 15px 0px;
}

.header-logo {
    width: 79%;
    display: flex;
}

.header-logo h1 {
    display: flex;
    width: 54%;
}

.header-logo img {
    width: var(--max-width);
    height: var(--max-height);
}

.header--inner a {
    display: inline-block;
    color: var(--white-color);
}

.header-content {
    width: var(--max-width);
}

.header--inner {
    grid-template-columns: 43% auto 31%;
    width: 100%;
    gap: 15px;
}

.header-links-ul {
    gap: 20px;
}

ul.header-icons--inner {
    gap: 30px;
    justify-content: end;
}

.hamburg {
    display: none;
}

/* -------------------------------------------------banner------------------------------------------------  */
html,
body {
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    aspect-ratio: 22/9;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    z-index: 1;
    top: 40%;
}

.banner--inner-text {
    flex-direction: column;
    gap: 25px;
    align-items: baseline;
    color: var(--white-color);
}

/* -----------------------------------------------icons with text ----------------------------------------------*/
.icons-with-text-wrapper {
    background-color: rgb(233 246 252);
    padding: 20px 0px;
}

.icons-text h6 a {
    font-size: 18px;
    color: var(--heading-color);
}

.inner-text {
    flex-direction: column;
    gap: 11px;
    text-align: center;
}

.grid {
    flex-wrap: wrap;
    width: 100%;
}

/* ----------------------------------------------------category section -----------------------------------*/
.category-wrapper {
    padding: 40px 0px;
}

.category-inner {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
}

.category-info {
    position: relative;
}

.category-text {
    position: absolute;
    bottom: 6%;
    left: 37%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-text a {
    color: var(--heading-color);
}

.category-text h5 {
    font-size: 20px;
}

.swiper-pagination2 {
    display: none;
}

.category-img img {
    max-width: 312px;
    max-height: 500px;
}

/* ----------------------------------------------------card-product------------------------------------------ */
.card-product-wrap {
    background-color: var(--brand-line-second-color);
    padding: 80px 0px;
}

.card-product-heading {
    flex-direction: column;
    gap: var(--gap-of-text);
}

.card-product-heading-inner {
    gap: 40px;
}

.card-product-inner {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
}

.card-product-text {
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.card-product-text {
    flex-direction: column;
    gap: var(--gap-of-icons);
    text-align: center;
    padding: 20px 0px;
}

.cut-price {
    color: var(--compare-color);
}

.card-product-img {
    position: relative;
}

button.tertiary-btn {
    background: none;
    border: 1px solid var(--border-color);
    padding: 13px 36px;
    width: 91%;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.buy-btn {
    position: absolute;
    bottom: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon-arrow {
    display: flex;
    position: absolute;
    top: 50%;
    width: 100%;
    justify-content: space-between;
    padding: 0px 10px;
}

.overall-hover {
    display: none;
}

.card-inner--content:hover .overall-hover {
    display: block;
}

.card-product-img img {
    max-width: 312px;
    max-height: 400px;
}

.card-product-text a {
    color: var(--heading-color);
}

/* ---------------------------------------------img with text ------------------------------------------------*/
.img-with-txt-content {
    position: relative;
}

.img-with-txt-content img {
    width: 100%;
    max-height: 600px;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.img-with-text--inner {
    position: absolute;
    top: 23%;
    color: white;
}

.text-of-img {
    flex-direction: column;
    align-items: baseline;
    gap: var(--gap-of-text);
}

.text-of-img p {
    line-height: var(--line-height);
    width: 42%;
}

/*------------------------------------------------- scroll text------------------------------------------------ */
section.featured-wrap {
    background-color: var(--brand-line-second-color);
    padding: 80px 0px;
}

.featured-img--inner img {
    width: 100%;
    max-width: 650px;
    max-height: 650px;
}

.featured-product-inner {
    gap: 60px;
}

.grid-2-col-desktop .grid-item {
    width: calc(50% - 30px);
    max-width: calc(50% - 30px);
}

.featured-text--inner {
    position: sticky;
    top: 15%;
}

.featured-text--inner div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul.some-other-points li div a {
    gap: var(--gap-of-icons);
    color: var(--heading-color);
    font-family: var(--paragraph-font);
}
.featured-product-text {
    transform: translateY(11%);
    margin-bottom: 152px;
}

/* ------------------------------------------right img with text -----------------------------------------------*/
section.right-img-with-txt-wrap {
    padding: 40px 0px;
}
.right-img--inner img {
    max-width: 650px;
    max-height:600px;
    width: 100%;
}
.right-img-with-txt-inner {
    gap: 60px;
}
.right-text--inner {
    flex-direction: column;
    gap: 20px;
    align-items: baseline;
}

/*------------------------------------------- customer reviews ----------------------------------------------*/
section.customer-review-wrap {
    background: var(--brand-line-second-color);
    padding: 80px 0px;
}
.customer-review-text--inner {
    flex-direction: column;
    gap: 20px;
}
.customer-review-content {
    gap: 60px;
}
.customer-arrow {
    display: flex;
    gap: 20px;
}
.customer-review-text--inner h3 {
    font-size: 20px;
    line-height: 35px;
}
.customer-review-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.customer-review-img--inner img {
    width: 100%;
}
/*--------------------------------------------------- blog-------------------------------------------------- */
section.blog-wrap {
    padding: 80px 0px;
}
.blog-img img {
    /* max-width: 420px; */
    /* max-height: 216px; */
    width: 100%;
}
.blog-text h6{
    font-size: 18px;
}
.blog-text {
    padding: 17px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: baseline;
}
.blog-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.blog-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
span.date {
    color: var(--compare-color);
}
.vertical.line {
    position: relative;
}

.vertical.line::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 423px;
    background: var(--border-color);
    right: 2px;
}
.grid-3-col-desktop .grid-item {
    width: calc(33.3% - 27px);
    max-width: calc(33.3% - 29px);
}
ul.blog-list {
    gap: 20px;
}
/* ------------------------------------------------rich text-------------------------------------------------- */
.rich-text-wrap {
    padding: 40px 0px;
}

.rich-text-inner h4 {
    font-size: 28px;
    width: 78%;
    line-height: 37px;
}

.rich-text-inner {
    flex-direction: column;
    text-align: center;
    line-height: 37px;
    gap: var(--gap-of-text);
}

/* --------------------------------------------insta feed -----------------------------------------------------*/
.insta-feed-wrap {
    padding: 40px 20px;
    margin: auto;
}

.insta-feed-header {
    flex-direction: column;
    gap: var(--gap-of-icons);
}

.insta-feed-imgs ul {
    display: flex;
    gap: 20px;
}

.insta-feed-imgs img {
    width: 100%;
}

.insta-feed-inner {
    flex-direction: column;
    gap: 40px;
}

/* --------------------------------------rich text of contact us----------------------------------------------- */
.contact-wrap {
    padding: 80px 0px;
}

.text-contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: anchor-center;
    gap: 20px;
    text-align: center;
    line-height: 29px;
}

.text-contact-content p {
    width: 76%;
}

/* -------------------------------------------------more info ------------------------------------------------ */
.another-info-wrap {
    background-color: var(--brand-line-second-color);
    padding: 20px 0px;
}

.more-info--text h6 a {
    font-size: 18px;
    color: var(--heading-color);
}

.more-info--inner-text {
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

/* --------------------------------------------------footer section-------------------------------------------*/
.footer-wrap {
    background-color: var(--brand-line-color);
    color: var(--white-color);
    padding: 80px 0px;
    border-bottom: 1px solid var(--border-color);
}

.footer-text img {
    width: 37%;
}

ul.footer-icons {
    gap: var(--gap-of-text);
}

.footer-text h6 {
    font-size: 18px;
}

.footer-links a {
    color: var(--white-color);
}

ul.footer-text {
    flex-direction: column;
    gap: var(--gap-of-text);
}

ul.footer-links {
    flex-direction: column;
    gap: var(--gap-of-icons);
}

li.text {
    width: 89%;
}

input#input-box {
    outline: none;
    border: 1px solid var(--white-color);
    background: none;
    width: 85%;
    padding: 13px 5px;
    border-radius: var(--border-raduis);
}

input::placeholder {
    color: var(--white-color);
}

/* ----------------------------------------------------description------------------------------------------------- */
.description-wrap {
    background-color: var(--brand-line-color);
    color: var(--white-color);
    padding: 40px 0px;
}

.desription-text {
    justify-content: space-between;
}

select {
    border: 1px solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 10px;
    border-radius: var(--border-raduis);
}

ul.select-option {
    flex-direction: column;
    gap: var(--gap-of-text);
}

.payment-content {
    flex-direction: column;
    gap: var(--gap-of-icons);
}

.policy a {
    color: var(--white-color);
}

.policy {
    gap: var(--gap-of-text);
}

ul.payment-method {
    gap: var(--gap-of-icons);
}

/* --------------------------------------------------media query------------------------------------------------- */
@media only screen and (max-width: 1279px) {
    .grid-2-col-tablet .grid-item {
        width: calc(50% - 0px);
        max-width: calc(50% - 0px);
    }

    ul.footer-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: anchor-center;
    }

    .footer-inner-content {
        display: flex;
        row-gap: 42px;
    }

    .footer-text h6 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1100px) {
    .grid-3-col-tablet .grid-item {
        width: calc(33.3% - 20px);
        max-width: calc(33.3% - 20px);
        text-align: center;
    }

    .grid-1-col-tablet .grid-item {
        width: calc(50% - 0px);
        max-width: calc(50% - 0px);
    }

    .header-links {
        display: none;
    }

    .hamburg {
        display: inline-block;
    }

    .header-logo {
        width: 100%;
    }

    .icons-text h6 a {
        font-size: 16px;
    }
}

@media only screen and (max-width:942px) {
    .swiper {
        aspect-ratio: unset;
    }

    :root {
        --heading-font-size: 25px;
        --padding: 15px 50px;
    }

    .icons-text h6 a {
        font-size: 14px;
    }

    .desription-text {
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .policy {
        justify-content: center;
    }

    .grid-2-col-tablet-2 .grid-item {
        width: calc(50% - 10px);
        max-width: calc(50% - 10px);
    }

    .img-with-text--inner {
        top: 4%;
    }

    .text-of-img p {
        width: 58%;
    }

    .text-of-img {
        align-items: center;
        text-align: center;
    }
    .grid-1-col-tablet .grid-item {
    width: calc(100% - 30px);
    max-width: calc(100% - 30px);
}
}

@media only screen and (max-width:701px) {
    .swiper {
        aspect-ratio: unset;
    }

    ul.header-icons--inner {
        gap: 10px;
    }

    :root {
        --btn-padding: 10px 22px;
        --normal-font-size: 13px;
    }

    .banner--inner-text {
        gap: 10px;
    }

    .primary-btn {
        font-size: 12px;
    }

    .grid-2-col-tablet .grid-item {
        width: calc(50% - 0px);
        max-width: calc(50% - 0px);
        text-align: center;
    }

    .header--inner {
        grid-template-columns: 37% 28% 29%;
    }

    .grid-1-col-tablet .grid-item {
        width: calc(100% - 0px);
        max-width: calc(100% - 0px);
        text-align: center;
    }

    .text-contact-content p {
        font-size: 14px;
    }

    .rich-text-inner h4 {
        font-size: 20px;
    }

    .img-with-text--inner {
        position: unset;
        color: var(--black-color);
    }

    .text-of-img p {
        width: 81%;
        font-size: 14px;
    }
}

@media only screen and (max-width:490px) {
    .swiper {
        aspect-ratio: 22/20;
    }

    :root {
        --heading-font-size: 15px;
        --padding: 14px 14px;
        --btn-padding: 7px 10px;
        --normal-font-size: 10px;
    }

    svg {
        width: 86%;
    }

    .icons-text h6 a {
        font-size: 12px;
    }

    ul.payment-method {
        gap: var(--gap-of-icons);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid-1-col-tablet-2 .grid-item {
        width: calc(100% - 10px);
        max-width: calc(100% - 10px);
    }

    .rich-text-inner h4 {
        font-size: 15px;
    }

    .bold-text {
        font-size: 12px;
    }
}

